[user]
	name = Injamul Mohammad Mollah
	email = mrinjamul@gmail.com
	signingkey = []
[color]
	ui = true
	status = auto
	branch = auto
[cola]
	spellcheck = false
[core]
	excludesfile = /home/injamul/.gitignore
[alias]
	st = status -sb
	last = log -1 HEAD --stat
	ll = log --oneline
	scommit = commit -S -m
	dv = difftool -t vimdiff -y
	gl = config --global -l
	se = !git rev-list --all | xargs git grep -F
	aa = add -A
	sloc = !git ls-files | xargs wc -l
